<% provide(:title, "About")%>

<h1>About</h1>
<p>
    The Reindeer Hunt manager is a program designed by Kyle Anderson to manage Reindeer Hunts.<br>
    The idea for this application came from the need for faster, more automated processes for managing
    the large volume of students in the Reindeer Hunt. <br>
    Originally, this problem was solved with a desktop application created using
    Windows Presentation Foundation and the Microsoft .NET framework.<br>
    Since then it was decided to create an equivalent web application for greater usability
    and compatibility across platforms.
</p>
