<% provide(:title, "Home")%>

<h1>Reindeer Hunt Manager</h1>
<p>
    Welcome to the Reindeer Hunt Manager, an application designed to manage the annual Sacred Heart Reindeer Hunt
    competition or an equivalent sort of competition.
</p>

<h2>Competition Description</h2>
<p>
    The Reindeer Hunt is an event that is run annually at Sacred Heart High School in Stittsville, Ontario.
    In this competition, students are paired with each other in matches and are tasked with pinning 
    their pair with a clotehspin in order to eliminate that person from the hunt.<br>
    The participant who pins their opponent advances to the next round in which they will play against
    other winners.
</p>
